<div id="grid_template">
          <div> <label>{{header}}</label></div>
	      <div class='data'>
          <table>
			    <tr>
				  {{#columns}}
				    <th>{{title}}</th>
                  {{/columns}}
				</tr>
				  [#items]
				   <tr>
					  [#first]
                         {{#columns}}
						    <td><strong>[{{name}}]</strong></td>
					     {{/columns}}
					  [/first]
					  [#link]
						 {{#columns}}
						    <td><a href="[url]">[{{name}}]</a></td>
					     {{/columns}}
					  [/link]
					</tr>
				 [/items]
                 [#empty]
			         <p>the data list is empty ! </p>
				 [/empty]
		 </table>
		 </div>
		 <div class="pageBar"><span> <a href="">上一页</a> <a href="">下一页</a> 共10页</span></div>
</div>
