<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<param name="Threshold" value="error"/> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] (%C:%L) - %m%n" />
		</layout>
	</appender>


	<!-- 运行日志 -->
	<appender name="appRunning" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/appRunning.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="  %d -- %m  %n %n %n " />
		</layout>
	</appender>
	 
	 
	<logger name="appRunning" additivity="true">
		<priority value="info" />
		<appender-ref ref="appRunning" />
	</logger>
	 
	<root>
		<appender-ref ref="STDOUT" />
		<priority value="info" />
	</root>
</log4j:configuration>