<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@61.142.114.252:1522:orcl" />
				<property name="username" value="zjxxt" />
				<property name="password" value="zj23XXT" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	   <mapper resource="cn/elam/util/testcase/taskService/TestMapper.xml"/>
	</mappers>
</configuration>